<template id="template-edit-capability-page">
  <div :class='{ active : pageHandler.currentPage === "edit-capability-page", page : true }' @vue:mounted='mounted'>
    <header>
      <span class='back' @click='back()' data-i18n='wizard2.edit-capability.back'></span>
      <span>{{ _editCapability === null ? Homey.__('wizard2.edit-capability.title-new') :
        Homey.__('wizard2.edit-capability.title-edit') }}</span>
      <span class='done' id='EVDdone' @click='apply()' data-i18n='wizard2.edit-capability.done'
        :hidden='errorAndWarningList.errors.length !== 0 || !_modified'></span>
    </header>

    <div class='list'>
      <p>
        <span>{{ Homey.__('wizard2.edit-capability.native-capability.title') }}</span>
      </p>

      <ul>
        <li>
          <!-- select physical device -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.physical-device') }}</span>
          <span></span>
          <select ref='physicalDeviceId' v-model='physicalDeviceId' @change='checkValidity'>
            <option v-if='physicalDeviceId === "unselected"' value='unselected' selected disabled>{{
              Homey.__('wizard2.edit-capability.native-capability.physical-device-unselected') }}
            </option>
            <template
              v-for='physicalDevice in configuration.physicalDevices?.sort((a, b) => a.name.localeCompare(b.name))'
              :key='physicalDevice.physicalDeviceId'>
              <option :value='physicalDevice.physicalDeviceId'>
                {{ physicalDevice.name }}
              </option>
            </template>
          </select>
        </li>
        <li>
          <!-- select native capability -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.native-capability') }}</span>
          <span></span>
          <select ref='nativeCapabilityId' v-model='nativeCapabilityId' @change='checkValidity'>
            <option v-if='nativeCapabilityId === "unselected"' value='unselected' selected disabled>{{
              Homey.__('wizard2.edit-capability.native-capability.native-capability-unselected') }}
            </option>
            <template
              v-for='nativeCapability in configuration.physicalDevices?.find(physicalDevice => physicalDevice.physicalDeviceId === physicalDeviceId)?.nativeCapabilities.sort((a, b) => { let compare = a.entityName.localeCompare(b.entityName); if (compare !== 0) return compare; return a.attribut.localeCompare(b.attribut); })'
              :key='nativeCapability.nativeCapabilityId'>
              <option :value='nativeCapability.nativeCapabilityId'>
                {{ nativeCapability.entityName + ' - ' + nativeCapability.attribut }}
              </option>
            </template>
          </select>
        </li>

        <template v-if='nativeCapabilityId !== "unselected"'>
          <li class="sub">
            <!-- type -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.type') }}</span>
            <span></span>
            <span>{{ _nativeCapabilitySelected?.type }}</span>
          </li>
          <li class="sub"
            v-show="_nativeCapabilitySelected !== null && _nativeCapabilitySelected.configs.writeOnly !== true">
            <!-- current value -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.current-value') }}</span>
            <span></span>
            <span class='pre'>{{ _nativeCapabilitySelected?.value }}</span>
          </li>
          <li class="sub">
            <!-- used -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.used') }}</span>
            <span></span>
            <span>{{ _nativeCapabilitySelected?.used }}</span>
          </li class="sub">

          <!-- Configs -->
          <li class="sub"
            v-show='_nativeCapabilitySelected !== null && Object.keys(_nativeCapabilitySelected.configs).length > 0'>
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs-title') }}</span>
            <span></span>
            <span class='edit' @click='_hideConfigs = !_hideConfigs'>{{
              _hideConfigs ? Homey.__('wizard2.edit-capability.native-capability.show') :
              Homey.__('wizard2.edit-capability.native-capability.hide') }}</span>
          </li>
          <li class="subsub"
            v-show="_nativeCapabilitySelected !== null && _nativeCapabilitySelected.configs.precision !== undefined && !_hideConfigs">
            <!-- configs.precision -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs.precision') }}</span>
            <span></span>
            <span class='pre'>{{ _nativeCapabilitySelected?.configs.precision }}</span>
          </li>
          <li class="subsub"
            v-show="_nativeCapabilitySelected !== null && _nativeCapabilitySelected.configs.showUI !== undefined && !_hideConfigs">
            <!-- configs.showUI -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs.showUI') }}</span>
            <span></span>
            <span class='pre'>{{ _nativeCapabilitySelected?.configs.showUI }}</span>
          </li>
          <li class="subsub"
            v-show="_nativeCapabilitySelected !== null && _nativeCapabilitySelected.configs.usage !== undefined && !_hideConfigs">
            <!-- configs.usage -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs.usage-title') }}</span>
            <span></span>
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs.usage.' +
              _nativeCapabilitySelected?.configs.usage) }}</span>
          </li>
          <li class="subsub"
            v-show="_nativeCapabilitySelected !== null && _nativeCapabilitySelected.configs.deviceClass !== undefined && !_hideConfigs">
            <!-- configs.deviceClass -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs.deviceClass') }}</span>
            <span></span>
            <span class='pre'>{{ _nativeCapabilitySelected?.configs.deviceClass }}</span>
          </li>
          <li class="subsub"
            v-show="_nativeCapabilitySelected !== null && _nativeCapabilitySelected.configs.readOnly === true && !_hideConfigs">
            <!-- configs.readOnly -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs.readWrite-title') }}</span>
            <span></span>
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs.readWrite.readOnly')
              }}</span>
          </li>
          <li class="subsub"
            v-show="_nativeCapabilitySelected !== null && _nativeCapabilitySelected.configs.writeOnly === true && !_hideConfigs">
            <!-- configs.writeOnly -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs.readWrite-title') }}</span>
            <span></span>
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.configs.readWrite.writeOnly')
              }}</span>
          </li>

          <!-- Constraints -->
          <li class="sub"
            v-show='_nativeCapabilitySelected !== null && Object.keys(_nativeCapabilitySelected.constraints).length > 0'>
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.constraints-title') }}</span>
            <span></span>
            <span class='edit' @click='_hideConstraints = !_hideConstraints'>{{
              _hideConstraints ? Homey.__('wizard2.edit-capability.native-capability.show') :
              Homey.__('wizard2.edit-capability.native-capability.hide') }}</span>
          </li>
          <li class="subsub"
            v-show='_nativeCapabilitySelected !== null && _nativeCapabilitySelected.constraints.min !== undefined && !_hideConstraints'>
            <!-- constraints.min -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.constraints.min') }}</span>
            <span></span>
            <span class='pre'>{{ _nativeCapabilitySelected?.constraints.min }}</span>
          </li>
          <li class="subsub"
            v-show='_nativeCapabilitySelected !== null && _nativeCapabilitySelected.constraints.max !== undefined && !_hideConstraints'>
            <!-- constraints.max -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.constraints.max') }}</span>
            <span></span>
            <span class='pre'>{{ _nativeCapabilitySelected?.constraints.max }}</span>
          </li>
          <li class="subsub"
            v-show='_nativeCapabilitySelected !== null && _nativeCapabilitySelected.constraints.mode !== undefined && !_hideConstraints'>
            <!-- constraints.mode -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.constraints.mode-title') }}</span>
            <span></span>
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.constraints.mode.' +
              _nativeCapabilitySelected?.constraints.mode) }}</span>
          </li>
          <li class="subsub"
            v-show='_nativeCapabilitySelected !== null && _nativeCapabilitySelected.constraints.step !== undefined && !_hideConstraints'>
            <!-- constraints.step -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.constraints.step') }}</span>
            <span></span>
            <span class='pre'>{{ _nativeCapabilitySelected?.constraints.step }}</span>
          </li>
          <li class="subsub"
            v-show='_nativeCapabilitySelected !== null && _nativeCapabilitySelected.constraints.values !== undefined && !_hideConstraints'>
            <!-- constraints.step -->
            <span class='pre'>{{ Homey.__('wizard2.edit-capability.native-capability.constraints.values') }}</span>
            <span></span>
            <span class='pre'>{{ _nativeCapabilitySelected?.constraints?.values?.toString() }}</span>
          </li>
        </template>
      </ul>
    </div>

    <div class='list' v-show="_nativeCapabilitySelected !== null">
      <p>
        <span>{{ Homey.__('wizard2.edit-capability.capability.title') }}</span>
      </p>

      <ul>
        <li>
          <!-- select capability -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.capability-type') }}</span>
          <span></span>
          <select ref='capabilityType' v-model='capabilityType' @change='checkValidity'>
            <option v-if='capabilityType === "unselected"' value='unselected' selected disabled :key='"unselected"'>{{
              Homey.__('wizard2.edit-capability.capability.capability-type-unselected') }}
            </option>
            <option v-for='capabilityConf in CAPABILITY_CONFIGURATION.sort((a, b) => Homey.__("capabilityType." + a.type
                + ".label").localeCompare(Homey.__("capabilityType." + b.type + ".label")))' :key='capabilityConf.type'
              :value='capabilityConf.type' v-show='_compatibleTypes?.includes(capabilityConf.type)'>
              {{ Homey.__('capabilityType.' + capabilityConf.type + '.label') }}
            </option>
          </select>
        </li>
        <li v-show='capabilityType !== "unselected"'>
          <!-- title - text -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.title') }}</span>
          <input ref='capabilityTitle' v-model='capabilityOptions.title' @input='checkValidity' type='text' minlength=3
            maxlength=30 pattern='^[A-Za-z0-9][A-Za-z0-9\-_ ]{1,28}[A-Za-z0-9]{1,1}$'
            style='text-align: left; margin-left: 0;'
            :placeholder='Homey.__("wizard2.edit-capability.capability.title-default")'>
          <span class='edit' v-show='_editCapability !== null' @click='confirmDelete()' style='position: initial;'>{{
            Homey.__('wizard2.edit-capability.delete') }}</span>
        </li>
        <li v-show='capabilityType !== "unselected"'>
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options-title') }}</span>
          <span></span>
        </li>
        <li class='sub' v-show='capabilityType !== "unselected"'>
          <!-- index - text - default hint -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.index') }}</span>
          <span></span>
          <input ref='capabilityIndex' v-model='capabilityOptions.index' @input='checkValidity' type='text' minlength=3
            maxlength=30 pattern='^[a-z][a-z\.]{1,28}[a-z]{1,1}$' style='text-align: left; margin-left: 0;'
            :placeholder='Homey.__("wizard2.edit-capability.capability.index-default")'>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.zoneActivity !== undefined'>
          <!-- zoneActivity - boolean -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.zoneActivity') }}</span>
          <span></span>
          <i class='switch'>
            <label class="form-switch"><input type="checkbox" ref='capabilityZoneActivity'
                v-model='capabilityOptions.zoneActivity' @change='checkValidity'><i></i></label>
          </i>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.units !== undefined'>
          <!-- units - text-->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.units') }}</span>
          <span></span>
          <input ref='capabilityUnits' v-model='capabilityOptions.units' @input='checkValidity' type='text' minlength=1
            maxlength=10 pattern='^[A-Za-z][A-Za-z0-9]{0,9}$' style='text-align: left; margin-left: 0;'>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.decimals !== undefined'>
          <!-- decimals - positive 0,10-->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.decimals') }}</span>
          <span></span>
          <input ref='capabilityDecimals' v-model='capabilityOptions.decimals' @input='checkValidity' type='number'
            min="0" max="10" style='text-align: left; margin-left: 0;'>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.min !== undefined'>
          <!-- min - float -infinite,infinite -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.min') }}</span>
          <span></span>
          <input ref='capabilityMin' v-model='capabilityOptions.min' @input='checkValidity' type='number'
            style='text-align: left; margin-left: 0;'>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.max !== undefined'>
          <!-- max - float -infinite,infinite - >min-->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.max') }}</span>
          <span></span>
          <input ref='capabilityMax' v-model='capabilityOptions.max' @input='checkValidity' type='number'
            style='text-align: left; margin-left: 0;'>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.step !== undefined'>
          <!-- step - positive float - cannot be more precise than decimals -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.step') }}</span>
          <span></span>
          <input ref='capabilityStep' v-model='capabilityOptions.step' @input='checkValidity' type='number'
            style='text-align: left; margin-left: 0;'>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.getable !== undefined'>
          <!-- getable - boolean -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.getable') }}</span>
          <span></span>
          <i class='switch'>
            <label class="form-switch"><input type="checkbox" ref='capabilityGetable'
                v-model='capabilityOptions.getable' @change='checkValidity'><i></i></label>
          </i>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.approximated !== undefined'>
          <!-- approximated - boolean -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.approximated') }}</span>
          <span></span>
          <i class='switch'>
            <label class="form-switch"><input type="checkbox" ref='capabilityApproximated'
                v-model='capabilityOptions.approximated' @change='checkValidity'><i></i></label>
          </i>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.preventInsights !== undefined'>
          <!-- preventInsights - boolean -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.preventInsights') }}</span>
          <span></span>
          <i class='switch'>
            <label class="form-switch"><input type="checkbox" ref='capabilityPreventInsights'
                v-model='capabilityOptions.preventInsights' @change='checkValidity'><i></i></label>
          </i>
        </li>
        <li class="sub" v-show='capabilityType !== "unselected" && capabilityOptions?.preventTag !== undefined'>
          <!-- preventTag - boolean -->
          <span class='pre'>{{ Homey.__('wizard2.edit-capability.capability.options.preventTag') }}</span>
          <span></span>
          <i class='switch'>
            <label class="form-switch"><input type="checkbox" ref='capabilityPreventTag'
                v-model='capabilityOptions.preventTag' @change='checkValidity'><i></i></label>
          </i>
        </li>
      </ul>

      <p ref='capabilityTypeDescription' v-show='capabilityTypeDescription !== ""'>{{ capabilityTypeDescription }}</p>
    </div>

    <section v-scope="ErrorAndWarningList()"></section>
  </div>
</template>