<template id="template-list-virtual-devices-page">
  <div :class='{ active : pageHandler.currentPage === "list-virtual-devices-page", page : true }'
    @vue:mounted='mounted'>
    <header>
      <span class='back' @click='pageHandler.setMainPage()' data-i18n='wizard2.list-virtual-devices.back'></span>
      <span data-i18n='wizard2.list-virtual-devices.title'></span>
    </header>

    <div class='list'>
      <p>
        <span>{{ Homey.__('wizard2.list-virtual-devices.list-physical-devices.title') }}</span>
        <span></span>
        <span class='edit' @click='_hideUsedPhysicalDevices = !_hideUsedPhysicalDevices'>{{
          _hideUsedPhysicalDevices ? Homey.__('wizard2.list-virtual-devices.list-physical-devices.show') :
          Homey.__('wizard2.list-virtual-devices.list-physical-devices.hide') }}</span>
      </p>

      <ul>
        <!-- allow connection to new physical devices -->
        <li @click='pageHandler.setPage("edit-physical-device-page")'>
          <span data-i18n='wizard2.list-virtual-devices.list-physical-devices.new-physical-device'></span>
          <i class='arrow right'></i>
        </li>

        <!-- For each virtual device (sorted by zone and name) -->
        <!-- Short list known physical devices, including existing and new ones with their status and "usage count" (used) -->
        <!-- TO BE COMPLETED: one line per device with name, status and used -->
        <li
          v-for='physicalDevice in configuration.physicalDevices?.sort((a, b) => { return a.name.localeCompare(b.name); })'
          :key='physicalDevice.physicalDeviceId' v-show="!physicalDevice.used || !_hideUsedPhysicalDevices">
          <span :class='{ danger: physicalDevice.status === "unavailable" || !physicalDevice.used }'>{{
            physicalDevice.name }}</span>
          <span :class='{ danger: physicalDevice.status === "unavailable" }'>{{ physicalDevice.status
            }}</span>
          <span v-if='!physicalDevice.used' class='danger'>{{
            Homey.__('wizard2.list-virtual-devices.list-physical-devices.unused') }}</span>
          <span v-if='physicalDevice.used'>{{
            Homey.__('wizard2.list-virtual-devices.list-physical-devices.used')
            }}</span>
        </li>
      </ul>

      <p data-i18n='wizard2.list-virtual-devices.list-physical-devices.help'></p>
    </div>

    <div class='list'>
      <p>
        <span>{{ Homey.__('wizard2.list-virtual-devices.list-virtual-devices.title') }}</span>
        <span></span>
        <select ref='_filterZoneId' v-model='_filterZoneId' style='float: right;'>
          <option value='unselected' :selected='_filterZoneId === "unselected"'>{{
            Homey.__('wizard2.list-virtual-devices.list-virtual-devices.zone-unselected')
            }}</option>
          <option v-for='zone in configuration.zones?.sort((a, b) => a.zoneOrder - b.zoneOrder)' :key='zone.zoneId'
            :value='zone.zoneId' :selected='_filterZoneId === zone.zoneId'>{{ (zone.zoneDepth > 0 ?
            "-".repeat(zone.zoneDepth) :
            "") + " " + zone.name }}</option>
        </select>
      </p>

      <ul>
        <li @click='pageHandler.setPage("edit-virtual-device-page")'>
          <span>{{ Homey.__('wizard2.list-virtual-devices.list-virtual-devices.new-virtual-device') }}</span>
          <i class='arrow right'></i>
        </li>

        <template
          v-for='virtualDevice in configuration.virtualDevices?.sort((a, b) => { let _sort = compareZoneId(a.current.zoneId, b.current.zoneId); return _sort === 0 ? a.current.name.localeCompare(b.current.name) : _sort ; })'
          :key='virtualDevice.virtualDeviceId'>
          <!--
                    For each virtual device:
                    - Name: allow modification of a virtual device name
                    - status: 'new', 'modified', 'updated', 'deleted'
                    - List all its capabilities:
                      - capbility type
                      - its options
                      - the related physical device and native capability
                      - actions: edit capability (edit-capability page) or delete capability
                  -->
          <li
            @click='pageHandler.setPage("edit-virtual-device-page", { virtualDeviceId: virtualDevice.virtualDeviceId })'
            v-show='_filterZoneId === "unselected" || _filterZoneId === virtualDevice.current.zoneId'>
            <span
              :class='{ danger: virtualDevice.current.capabilities.filter(capability => capability.status !== "deleted").length === 0 }'>{{
              configuration.zones?.find(zone => zone.zoneId === virtualDevice.current.zoneId).name }}
              - {{
              virtualDevice.current.name }}</span>
            <i class='arrow right'></i>
          </li>

          <li class="sub" v-show='_filterZoneId === "unselected" || _filterZoneId === virtualDevice.current.zoneId'>
            <span>{{ Homey.__('wizard2.list-virtual-devices.virtual-device.class') }}</span>
            <span>{{ virtualDevice.current.class }}</span>
          </li>
          <li class="sub" v-show='_filterZoneId === "unselected" || _filterZoneId === virtualDevice.current.zoneId'>
            <span>{{ Homey.__('wizard2.list-virtual-devices.virtual-device.status') }}</span>
            <span>{{ virtualDevice.current.status }}</span>
          </li>
          <li class="sub" v-show='_filterZoneId === "unselected" || _filterZoneId === virtualDevice.current.zoneId'>
            <span>{{ Homey.__('wizard2.list-virtual-devices.virtual-device.native-capability-count')
              }}</span>
            <span
              v-if='virtualDevice.current.capabilities.filter(capability => capability.status !== "deleted").length > 0'>{{
              virtualDevice.current.capabilities.filter(capability => capability.status !==
              'deleted').length
              }}</span>
            <span
              v-if='virtualDevice.current.capabilities.filter(capability => capability.status !== "deleted").length === 0'
              class='danger'>{{
              Homey.__('wizard2.list-virtual-devices.virtual-device.no-native-capability')
              }}</span>
          </li>
        </template>
      </ul>
    </div>
  </div>
</template>